.footer {
  height: 10vh;
  padding: 0.5rem .5rem 1rem .5rem;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  // bottom: 0;
  width: 100%;
  justify-content: center;
  // color: rgba(255, 255, 255, .84);
  // display: table;
  // &__link {
  //   height: 10vh;
  //   margin-top: 2.5vw;
  //   color: red;
  //   // vertical-align: middle;
  // }
}
