@import 'src/styles/vars';


.footer {
  font-family: $raleway;
  height: 10vh;
  padding: 0.5rem .5rem 1rem .5rem;
  background-color: $mainColor;
  color: $lightColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;

}
