.header{
  display: flex;
  height: 8vh;
  align-items: center;
  width: 100%;
  padding: 1rem 5% 1rem 5%;
  border-bottom: 1px solid #ccc;
  margin: auto;
  justify-content: space-between;
  &__title{
    font-size: 25px;
    font-weight: bold;
  }
  &__links{
    display: flex;
    width: 30%;
    justify-content: space-between;
  }
}

