.snackbar{
  position:absolute;
  bottom:5rem;
  width: 200px;
  left:50%;
  margin-left: -100px;
  padding: 0.5rem;
  z-index:999;
  text-align: center;
}

.warning{
  background-color:rgba($color: #ff0000, $alpha: 0.5);
}

.success{
  background-color:rgba($color: #00ff00, $alpha: 0.5);
}
