@import 'src/styles/vars';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  background-color: rgba(0, 37, 33, 0.8);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  // overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  align-items: flex-start;
}

.modal {
  z-index: 100;
  background-color: $lightColor;
  position: relative;
  overflow: hidden;
  margin: 13rem auto 0 auto;
  border-radius: 5px;
  max-width: 70%;
  max-height: 70%;
  width: fit-content;
  padding: 1rem;
}

.modal-header {
  position: absolute;
  right: 1rem;
  top: 1rem;
  // display: flex;
  // justify-content: right;
  // align-items: right;
}

// .modal-body{
//   text-align: center;
// }

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  color: $mainColor;
  cursor: pointer;
  border: none;
  background: transparent;
  padding:0;
}
