.recipe-page {
  width: 90%;
  margin: auto;

  &__head {
    box-shadow: 0px -3px 9px 1px rgba(16, 16, 16, 0.23);
    border: 1px solid #ccc;
    border-radius: 20px;
    &__container {
      position: relative;
      min-height: 100%;

      &__image {
        object-fit: cover;
        min-width: 100%;
        max-height: 40vh;
      }

      &__title {
        font-size: 34px;
        font-weight: bold;
        z-index: 999;
        position: absolute;
        bottom: 0;
        padding: 0 0 1rem 2rem;
      }
    }

    &__ingredients {

      // border: 1px solid #ccc;
      // border-radius: 0 0 20px 20px;
      // width: fit-content;
      padding: 2rem 0 0 2rem;
      
      &__title{
        font-weight: bold;
        font-size: 26px;
      }
      &__container {
        padding: 2rem 0 0 0;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 2rem 0;
    &__steps{
      padding-left: 2rem;
      width: 60%;
     
      &__title{
        font-weight: bold;
        font-size: 26px;
        // margin: 2rem 0 2rem 0;
      }
      &__counters{
        font-size: 20px;
        font-weight: bold;
        margin: 2rem 0 1rem 0;
      }
      &__text{
        padding-left: 1rem;
        font-size: 18px;
      }
    }





    &__owner-card {
      // margin-right: 15rem;
      text-align: center;
      // border: 1px solid black;
      width: 40%;
      &__title {
        font-weight: bold;
        margin-bottom: 1rem;
      }

      &__card {
        border-radius: 20px;
        box-shadow: 0px -3px 9px 1px rgba(16, 16, 16, 0.23);
        width: 50%;
        margin: auto;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__avatar {
          margin-top: 2rem;
          border-radius: 50%;
          max-width: 150px;
          height: 150px;
          object-fit: cover;
        }

        &__username {
          margin: 2rem 0 2rem 0;
          font-weight: bold;

        }
      }
    }
  }


}
