@import 'src/styles/vars';

.add-ingredient-panel {
  // position: relative;
  color: $darkColor;
  height: 60vh;

  // overflow-y: scroll;
  &__title {
    margin-bottom: 1rem;
    width: fit-content;
  }

  &__content {
    max-height: 55vh;
    overflow-y: auto;
    padding: 1rem;
    padding-bottom: 5rem;
  }

  &__submit {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: $lightColor;
    height: 5vh;
    bottom: 2rem;
    &__button {
      width: fit-content;
      // align-self: center;
      position: absolute;
      bottom: -.5rem;
      // left: 0;
      border: none;
      background-color: $mainColor;
      padding: .5rem;
      border-radius: 10px;
      color:$lightColor;
      font-family: $raleway;
      font-weight: $bold;
    }
  }

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    &__name {}

    &__content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .ingredient {
        padding: .2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid $darkColor;
        margin: 1rem;
        width: 350px;
        height: fit-content;
        align-items: center;
        border-radius: 10px;
        background-color: #fff;

        &__image {
          align-self: center;
          object-fit: cover;
          width: 80px;
          margin-right: .5rem;
          height: 80px;
          border-radius: 10px;
        }

        &__content {
          width: 100%;
          height: fit-content;
          padding: 0rem;
          display: flex;
          align-items: center;
          align-self: center;
          justify-content: space-between;

          &__name {
            flex-grow: 2;
          }

          &__input {
            width: 50px;
            margin-right: .5rem;
            border: none;
            font-family: $raleway;

          }

          &__unity {}
        }

        &__checkbox{
          align-self: center;
        }
      }
    }
  }
}
