@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

$raleway: 'raleway',
sans-serif;

$thin: 300;
$medium:500;
$bold:700;

$mainColor: #e3630c;
$lightColor:#f6f6e5;
$darkColor:#002521;
